body{
	background-color: grey
}
#app {
	width: 100%;
	height: 800px;
	background-color: aliceblue;
}

.container {
	text-align: center;
}

/*Start your code from here */

#myCarousel {
	background-color: red;
}

#myCarousel img {
	height: 300px;
	margin-top: 35px;
}

.carousel-inner p {
	margin-bottom: 15px;
	margin-top: 15px;
	color: white;
	font-size: 20px;
}
